{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "semicolons": true,
  "importOrder": [
    "^assets/(.*)$",
    "^components/(.*)$",
    "^store/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}